################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/EtruscanUnitDbGUI/copilot-chat/dfa553b8/sessions
/.vs/EtruscanUnitDbGUI/CopilotIndices/17.13.439.2385
